$box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
$box-radius: 5px;
$box-border: 1px solid rgba(0, 0, 0, 0.1);

// sider color start
$sider-bg-light: #f0f0f0;
$sider-selected-bg-light: #d9d9d9;
$sider-text-light: #3c3c3c;
// sider color end

// header variables start
$header-bg: #102e4d;
$header-bar-icon-bg: #000000;
$header-height: 72px;
// header variables end